body {
    margin: 0;
}

.my-body-class {
    background-image: url("/images/logoBack (2).jpg");
    margin: 1rem auto 0;
    max-width: 90ch;
    padding-left: 1rem
}

.logoContainer {
    padding-top: 3rem;
    padding-bottom: 2rem;
    text-align: center;
}

.logoPrincipal {
    display: block;
    margin: auto;
}

.ui huge top fixed menu {
    left: 0;
    top: 0;
    right: 0;
}