body {
    margin: 0;
}

.my-body-class {
    background-image: url("/images/logoBack (2).jpg");
    margin: auto 0;
    max-width: 100ch;
    padding-left: 1rem
}

.logoContainer {
    padding-top: 5rem;
    padding-bottom: 1.5rem;
    text-align: center;
}

.logoPrincipal {
    display: block;
    margin: auto;
    
}

.ui huge top fixed menu {
    left: 0;
    top: 0;
    right: 0;
}

.ui.button {
    margin-top: 5em;
    align-items: center;
    background-color: #1b1c1d;
    color: white;
    width: -webkit-fill-available;
    line-height: unset;
}

.container_padding {
    padding-top: 26%;
    padding-bottom: 4%;
    padding-left: 7%;
    padding-right: 8%;
}



.cafe_padding {
    padding-top: 27%;
}

.cafes_padding {
    padding-top: 3%;
}

.centered {
    text-align: center;
}
