body {
    margin: 0;
}

.my-body-class {
    background-image: url("/images/logoBack (2).jpg");
    margin: 1rem auto 0;
    max-width: 90ch;
}

.logoContainer {
    text-align: center;
}

.logoPrincipal {
    display: block;
    margin: auto;
}